<footer class="footer">
  <div class="row">

    <div class="column large-12">
      <ul class="footer-icons text-center">
        {{# if @site.twitter}}
          <li class='footer-icons__item'>
            <a href="{{twitter_url}}" class='footer-icons__link' target="_blank">
              <i class="fa fa-twitter footer-icons__icon" aria-hidden="true"></i>
            </a>
          </li>
        {{/if}}
        <li class='footer-icons__item'>
          <a href="https://github.com/synaptec" class='footer-icons__link' target="_blank">
            <i class="fa fa-github footer-icons__icon" aria-hidden="true"></i>
          </a>
        </li>
        <li class='footer-icons__item'>
          <a href="/rss" class='footer-icons__link' target="_blank">
            <i class="fa fa-rss footer-icons__icon" aria-hidden="true"></i>
          </a>
        </li>
      </ul>
    </div>

    <div class="column large-12">
      <div class="text-center">
        <div class="font-tiny copyright">&copy; {{date format="YYYY"}} <a href="https://synaptec.com/" target="_blank">Synaptec</a></div>
      </div>
    </div>

  </div>
</footer>