<header class="site-header">

  <div class="row">

    <div class="column small-8 medium-3 large-3">
      {{#if @site.logo}}
      <a class="logo" href="{{@site.url}}"><img class="logo__img" src="{{@site.logo}}" alt="Logo" /></a>
      {{else}}
      <h1 class="logo"><a href="{{@site.url}}">{{@site.title}}</a></h1>
      {{/if}}
    </div>

    <label class="off-canvas-toggle">
      <i class="fa fa-bars off-canvas-toggle__icon" aria-hidden="true"></i>
    </label>

    <div class="off-canvas-content">
      <div class="column medium-9 large-9">
        <div class="nav">
          {{navigation}}

          <div class="nav__link nav__link--has-dropdown">
            <span>Blog Categories</span>
            <i class="fa fa-angle-down" aria-hidden="true"></i>
            <div class="nav__dropdown nav__dropdown--tag-list">
              {{#get "tags" limit="all"}}
                {{#foreach tags}}
                  <a class="nav__link nav__link--dropdown nav__link--tags" href="/tag/{{slug}}">{{name}}</a>
                {{/foreach}}
              {{/get}}
            </div>
          </div>

          {{#get "tags" limit="all"}}
            {{#foreach tags}}
              <a class="nav__link nav__link--special-tag" href="/tag/{{slug}}">{{name}}</a>
            {{/foreach}}
          {{/get}}
        </div>
      </div>
    </div>

  </div> {{!-- row --}}

</header>