{{! This is the post loop - each post will be output using this markup }}
{{#foreach posts}}

{{! Include partials/post-card.hbs }}
{{> post-card}}

{{else}}
  <div class="large-12 column">
    <h4>There were no articles ...</h4>
  </div>
{{/foreach}}