<div class="column large-12">
  <div class="pagination clearfix">
    {{#if prev}}
      <a class="newer-posts pagination__link pagination__link--previous" href="{{page_url prev}}">
        <i class="fa fa-lg fa-angle-left pagination__icon" aria-hidden="true"></i>
        Previous
      </a>
    {{/if}}

    {{!-- Actual place where the numbers will go --}}
    <ul id="numbered-pagination" class="numbered-pagination"></ul>

    {{!-- Placeholder for number of total pages --}}
    <span class="page-total hidden" >{{pages}}</span>

    {{!-- Placeholder for current page --}}
    <span class="page-current hidden">{{page}}</span>

    {{#if next}}
      <a class="pagination__link pagination__link--next" href="{{page_url next}}">
        Next
        <i class="fa fa-lg fa-angle-right pagination__icon" aria-hidden="true"></i>
      </a>
    {{/if}}
  </div>
</div>