<div class="post-pagination">
  {{#prev_post}}
  <a class="post-pagination__link post-pagination__link--previous" href="{{url}}">
    <i class="fa fa-lg fa-angle-left post-pagination__icon" aria-hidden="true"></i>
    Previous
  </a>
  {{/prev_post}}

  {{#next_post}}
  <a class="post-pagination__link post-pagination__link--next" href="{{url}}">
    Next
    <i class="fa fa-lg fa-angle-right post-pagination__icon" aria-hidden="true"></i>
  </a>
  {{/next_post}}
</div>