<article class="post-card-wrap column medium-6 large-4 {{#if @first}} post-card-wrap--first{{/if}} {{wrap_passed_class}}">

  <div class="post-card {{#if @first}} post-card--first{{/if}} {{card_passed_class}}">

    <div class="post-card__head">
      <a href="{{url}}" class="block">
        <div class="post-card__image" {{#if feature_image}} style="background-image: url({{feature_image}}) {{/if}}">
        </div>
      </a>
    </div>

    <div class="post-card__info">
      <div class="post-card__tag">
        {{tags limit="1"}}
      </div>

      <div class="post-card__meta">
        <time class="post-card__meta_date" datetime="{{date format="YYYY-MM-DD"}}">{{date format="DD MMMM YYYY"}}</time>

        <!-- Special Tags are just normal Ghost Tags, but we difined them by name and show them only on custom places
          These tags are (general, expert, diy). We fetch all the tags here and then only show these tags with CSS
        -->
        <div class="post-card__tag--special">
          {{tags separator=""}}
        </div>

        <div class="post-card__read-time">
          <i class="fa fa-clock-o" aria-hidden="true"></i>
          <span class="post-card__read-time-time"></span>
          <div class="hidden"><noscript>{{content}}</noscript></div>
        </div>
      </div>

      <h2 class="post-card__title">
        <a href="{{url}}">{{title}}</a>
      </h2>
    </div>

  </div>
</article>