<!--
  Get related posts based on tags
  https://themes.ghost.org/docs/recent-featured-sidebar#extra-special-sauce-related-posts
 -->

<div class="row">
  <div class="column column--center medium-10 large-8">
    <div class="row">
      <div class="post-list">
        {{#get "posts" limit="2" include="tags" filter="tags:[{{post.tags}}]+id:-{{post.id}}" as |related|}}
          <div class="column medium-12 large-12">
            <h4 class="uppercase font-tiny text-center">Related Articles</h4>
          </div>
          {{#foreach related}}
            {{> post-card wrap_passed_class=" medium-6 large-6" }}
          {{/foreach}}
        {{/get}}
      </div>
    </div>
  </div>
</div>