<ul class="share">
  <li class="share__item">
    <a class="share__link" title="Share on Facebook" href="https://www.facebook.com/sharer/sharer.php?u={{url absolute='true'}}"
  onclick="window.open(this.href, 'facebook-share','width=580,height=296');return false;">
      <i class="fa fa-facebook-official share__icon" aria-hidden="true"></i>
    </a>
  </li>

  <li class="share__item">
    <a class="share__link" title="Share on Twitter" href="https://twitter.com/share?text={{encode title}}&amp;url={{url absolute='true'}}"
    onclick="window.open(this.href, 'twitter-share', 'width=550,height=235');return false;">
      <i class="fa fa-twitter-square share__icon" aria-hidden="true"></i>
    </a>
  </li>
</ul>