<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{{meta_title}}</title>

  {{> favicons }}

  {{> compiled/inline-css }}

  {{! Ghost outputs important style and meta data with this tag }}
  {{ghost_head}}

</head>
<body class="{{body_class}}">

  <div class="off-canvas-container">
    {{> header}}

    {{{body}}}

    {{> footer}}

    {{ghost_foot}}
  </div>

  {{! JavaScript }}
  <script src="https://use.fontawesome.com/bb6530083d.js"></script>
  <script type="text/javascript" src="{{asset "js/app.min.js"}}"></script>

</body>
</html>