{{!< default}}
{{! The tag above means - insert everything in this file into the {body} of the default.hbs template }}

<div class="wrapper">

  <!-- Featured Section on Home Page-->
  {{#is "home"}}
    <div class="row">
      <div class="column large-12">

        {{#get "posts" filter="featured:true" as |featured-posts|}}
          {{#if featured-posts}}
            <div class="featured-section">
              <div class="row">

                <!-- Get the first featured post (Be the big one on the left) -->
                {{#get "posts" filter="featured:true" include="tags" limit="1" as |featured|}}
                  {{#foreach featured}}
                    <div class="large-6 column">
                      <div class="row">
                        {{> post-card wrap_passed_class="post-card-wrap--featured post-card-wrap--featured--first medium-12 large-12" card_passed_class="post-card--featured post-card--featured--first"}}
                      </div>
                    </div>
                  {{/foreach}}
                {{/get}}

                <!-- Get the first four featured posts and exclude the first one (Be the posts list on the right) -->
                <div class="large-6 column">
                  <div class="featured-section__list">
                    <div class="row">
                      {{#get "posts" filter="featured:true" include="tags" limit="4" as |featured|}}
                        {{#foreach featured}}
                          {{^if @first}}
                            {{> post-card wrap_passed_class="post-card-wrap--featured post-card-wrap--featured--wide medium-12 large-12" card_passed_class="post-card--featured post-card--featured--wide"}}
                          {{/if}}
                        {{/foreach}}
                      {{/get}}
                    </div>
                  </div>
                </div>

              </div>
            </div>
          {{/if}}
        {{/get}}

      </div>
    </div>
  {{/is}}
  <!-- End Featured Section on Home Page-->

  <!-- Loop through posts and exclude featured posts -->
  <div class="row">
    <div class="post-list">
      {{#foreach posts}}
        {{^if featured}}
          {{> post-card}}
        {{/if}}
      {{/foreach}}
    </div>
  </div>

  <div class="row">
    {{pagination}}
  </div>

</div>