{{!< default}}

{{! This is a page template. A page outputs content just like any other post, and has all the same
    attributes by default, but you can also customise it to behave differently if you prefer. }}

{{! Everything inside the #post tags pulls data from the page }}

{{#post}}

<div class="wrapper">

  {{#if feature_image}}
  <div class="row">
    <div class="column column--center medium-10 large-8">
      <div class="CoverImage FlexEmbed FlexEmbed--16by9" style="background-image: url({{ feature_image }})"></div>
    </div>
  </div>
  {{/if}}

  <div class="row">
    <div class="column column--center medium-10 large-8">

      <article class="{{post_class}} {{^if feature_image}}post--no-image{{/if}}">

        <header class="text-center post__header">
          <h2 class="post__title">{{ title }}</h2>
        </header>

        <div class="post__content">
          {{ content }}
        </div>

      </article>

    </div>{{!-- column --}}
  </div>{{!-- row --}}

</div>{{!-- wrapper --}}

{{/post}}