{{!< default}}

{{! The comment above "< default" means - insert everything in this file into
the {body} of the default.hbs template, which contains our header/footer. }}

{{! Everything inside the #post tags pulls data from the post }}

<div class="wrapper wrapper--entry">

{{#post}}

  <div class="post__cover" style="background-image: url({{ feature_image }})"></div>

  <div class="row">
    <div class="column column--center medium-10 large-8">
      <article class="{{post_class}}">

        <div class='post__tags-wrap'>
          <div class="post__tags">{{tags limit="all" separator=" "}}</div>
        </div>

        <header class="post__header">
          <div class="post__meta">
            <time class="post__date" datetime="{{date format="YYYY-MM-DD"}}">{{date format="DD MMMM YYYY"}}</time>

            <!-- Special Tags are just normal Ghost Tags, but we difined them by name and show them only on custom places
              These tags are (general, expert, diy). We fetch all the tags here and then only show these tags with CSS
            -->
            <div class="post__tag--special">
              {{tags separator=""}}
            </div>

            <div class="post__read-time">
              <i class="fa fa-clock-o" aria-hidden="true"></i>
              <span class="post__read-time-time"></span>
            </div>
          </div>
          <h2 class="post__title">{{ title }}</h2>
        </header>

        <div class="post__content">
          <div class="eta hidden"></div>
          {{ content }}
        </div>

        {{> share}}

        {{> disqus}}

      </article>

      {{> post-prev-next-pagination}}

    </div> <!--column-->
  </div> <!--row-->

{{/post}}

<!-- Related Posts -->
{{> related}}

</div>