//---------------------------
// Colors
//---------------------------

$color-text: #222222;
$color-gray: #7E7E7E;
$color-brand: #00AEEF;
$color-white: #FFFFFF;

$grey-bg: #EFEFEF;
$black-bg: #000000;
$grey-bg--darker: #ECF0F1;
$border-color: #B7B7B7;

$twitter-brand: #55ACEE;
$twitter-brand--hover: #1E8BC3;
$facebook-brand: #3B5998;