/*------------------------------------*\
  Components > Bookmark Card
\*------------------------------------*/

.kg-bookmark-card {
  width: 100%;
}

a.kg-bookmark-container {
  display: flex;
  min-height: 144px;
  color: $color-text;
  border: 0;
  background-color: $grey-bg;
  text-decoration: none;

  &:active,
  &:focus,
  &:hover {
    text-decoration: none;

    .kg-bookmark-title {
      color: $color-brand;
    }
  }

  .kg-card-hascaption & {
    border-bottom: 1px solid $color-white;
  }
}

.kg-bookmark-content {
  display: flex;
  flex-grow: 1;
  flex-direction: column;
  align-items: flex-start;
  justify-content: start;
  padding: $line-height__medium;

  @media #{$large-up} {
    padding: $line-height__medium;
  }
}

.kg-bookmark-title {
  font-size: $font-size__base;
  line-height: $line-height__medium;
  font-weight: $font-weight__bold;
}

.kg-bookmark-description {
  color: $color-gray;
  font-size: $font-size__tiny;
  line-height: $line-height__tiny;
  font-weight: $font-weight__regular;
  margin-top: half($line-height__base);
  max-height: double($line-height__base);
  overflow-y: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}

.kg-bookmark-metadata {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin-top: half($line-height__base);
  color: $color-gray;
  font-size: $font-size__tiny;
  line-height: $line-height__tiny;
}

.kg-bookmark-publisher {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  max-width: 240px;
}

.kg-bookmark-icon {
  width: $line-height__medium;
  height: $line-height__medium;
  border-radius: $line-height__medium;
  margin-right: half($line-height__medium);
}

.kg-bookmark-author:after {
  content: '•';
  margin: 0 half($line-height__medium);
}

.kg-bookmark-thumbnail {
  position: relative;
  min-width: 33%;
  max-height: 100%;
}

.kg-bookmark-thumbnail img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

@media #{$medium-down} {
  .kg-bookmark-container {
    flex-direction: column;
  }

  .kg-bookmark-thumbnail {
    order: 1;
    width: 100%;
    min-height: 160px;
  }

  .kg-bookmark-content {
    order: 2
  }
}