//---------------------------
// Box
//---------------------------

.box {
  padding: $line-height__medium;
  margin-bottom: $line-height__medium;
  overflow: hidden;
  border: 1px solid $border-color;

  @media #{$large-up} {
    padding: $line-height__base;
    margin-bottom: $line-height__base;
  }

  &__icon {
    float: left;
    width: $line-height__base;
    margin-right: $line-height__base / 3;
  }

  &__title {
    margin: 0;
    font-weight: 300;
    line-height: $line-height__medium;
  }

  &__body {
    overflow: hidden;

    @media #{$medium-down} {
      overflow: initial;
    }
  }

  &__text {
    margin-top: half($line-height__small);
    margin-bottom: 0;
    font-size: $font-size__small;
    line-height: $line-height__small;
  }

  &--author { background-color: $grey-bg; }

  .page-header & {
    background-color: $color-white;
  }

  a { text-decoration: none; }
}