//---------------------------
// Buttons
//---------------------------

.button {
  display: inline-block;
  text-align: center;
  padding: quarter($line-height__base) half($line-height__base);
  font-size: $font-size__tiny;
  line-height: $line-height__medium;
  letter-spacing: 1px;
  border: 0;
  border-radius: 0;

  text-decoration: none;
  color: $color-white;
  background-color: $color-text;
  transition: $base-transition-speed;

  &:active,
  &:focus,
  &:hover {
    color: $color-white;
    background-color: $color-gray;
  }

  &:visited {
    color: $color-white;
  }

  &--expand {
    width: 100%;
  }
}