//---------------------------
// Forms
//---------------------------

input[type='text'],
input[type='tel'],
input[type='number'],
input[type='email'],
textarea {
  width: 100%;
  max-width: 100%;
  display: inline-block;
  border: 1px solid $color-text;
  margin-bottom: quarter($line-height__base);
  padding: quarter($line-height__small) half($line-height__small);
  font-size: $font-size__small;
  line-height: $line-height__medium;
  letter-spacing: 1px;
  background: transparent;
  appearance: none;
  border-radius: 0;
  transition: $base-transition-speed;

  @media #{$large-up} { padding: quarter($line-height__base) half($line-height__base); }

  &:focus {
    outline: none;
    border: 1px solid $color-gray;
  }
}