/*------------------------------------*\
  Components > Koenig Gallery
\*------------------------------------*/

.kg-gallery-card {
  @media #{$large-up} {
    width: 100vw;
    max-width: $row-max-width;
  }
}

.kg-gallery-container {
  display: flex;
  flex-direction: column;
}

.kg-gallery-row {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.kg-gallery-image img {
  width: 100%;
  height: 100%;
}

.kg-gallery-row:not(:first-of-type) {
  margin-top: $line-height__small;
}

.kg-gallery-image:not(:first-of-type) {
  margin-left: $line-height__small;
}