/*------------------------------------*\
  Components > Editor Cards
\*------------------------------------*/

// Koenig Editor

.kg-embed-card {
  display: flex;
  align-items: center;
  flex-direction: column;
  min-width: 100%;
  background-color: $grey-bg;
}

.kg-card {
  margin-left: 0;
  margin-right: 0;
}

.kg-card figcaption {
  width: 100%;
  text-align: center;
  padding: half($line-height__medium);
  color: $color-gray;
  font-size: $font-size__tiny;
  line-height: $line-height__tiny;
  font-weight: $font-weight__bold;
  background-color: $grey-bg;
}

// Koenig Images

.kg-width-full .kg-image {
  @media #{$medium-up} {
    max-width: 100vw;
    pointer-events: none;
  }
}

.kg-width-wide {
  @media #{$large-up} {
    width: 100vw;
    max-width: $row-max-width;
    padding-left: $line-height__base;
    padding-right: $line-height__base;
  }
}