//---------------------------
// Media
//---------------------------

img,
iframe {
  display: block;
}

img {
  height: auto;
  max-width: 100%;
}

.CoverImage {
  max-height: 600px;
  max-width: 100%;

  background-color: $grey-bg--darker;
  background-position: 50%;
  background-repeat: no-repeat;
  background-size: cover;
}