//---------------------------
// Post Card
//---------------------------

.post-card {
  margin-bottom: $line-height__medium;
  box-shadow: 0 1px 2px rgba(43, 43, 43, .2);
  background: $color-white;
  transition: $base-transition-speed;
  &__head { position: relative; }

  &__image {
    background-size: cover;
    background-position: top;
    background-repeat: no-repeat;
    background-color: $grey-bg--darker;
    transition: $base-transition-speed;

    &:before {
      content: '';
      display: block;
      width: 100%;
      padding-bottom: 57.55%;
    }
  }

  &__tag a {
    padding: 3px 10px 5px;
    position: absolute;
    top: -26px;
    left: 0;
    background-color: $black-bg;
    color: $color-brand;
    line-height: 1.5;
    font-size: $font-size__tiny;
    text-decoration: none;

    &[href*='/diy'] { display: none; }
    &[href*='/general'] { display: none; }
    &[href*='/expert'] { display: none; }

    &:hover { color: $color-white; }
  }

  &__info {
    position: relative;
    padding: 17px 13px 27px;
  }

  &__title {
    font-size: 14px;
    line-height: 1.29;
    margin-top: -5px;
    margin-bottom: 0;
    clear: both;

    a {
      display: block;
      color: #151515;
      transition: $base-transition-speed;
    }
  }

  &__meta {
    font-size: $font-size__teeny;
    line-height: 2.4;
    color: #515151;

    &_date { float: left; }

    a { color: $color-gray; text-decoration: none; }
  }

  &__read-time {
    display: inline-block;
    padding-left: 5px;

    &:before {
      content: '';
      height: 9px;
      display: inline-block;
      width: 1px;
      margin-right: 5px;
      background-color: #515151;
    }
  }

  &__tag--special {
    float: left;
    padding-left: 5px;

    a {
      display: none;
      color: #515151;

      &:hover { color: $color-gray; }

      &:before {
        content: '';
        height: 9px;
        display: inline-block;
        width: 1px;
        margin-right: 4px;
        background-color: #515151;
      }
    }

    a[href*='/diy'] { display: block; }
    a[href*='/general'] { display: block; }
    a[href*='/expert'] { display: block; }
  }

  &:hover {
    .post-card__image { opacity: 0.9; }

    .post-card__title a { color: $color-brand; }
  }

  @media #{$large-up} { margin-bottom: $line-height__base; }
}

// Featured Post Card on Home Page

@media #{$medium-up} {

  // Remove Box Shadow, section shadow will have one
  .post-card--featured { box-shadow: none; }

  // First featured card (Big One)
  .post-card--featured--first {
    position: relative;
    margin-bottom: 0;

    .post-card__image {
      max-height: 358px;

      &:before {
        padding-bottom: 100%;
      }
    }

    .post-card__tag a {
      bottom: auto;
      top: -35px;
    }

    .post-card__title {
      font-size: 18px;
      line-height: 1.22;
    }

    .post-card__info {
      position: absolute;
      bottom: 0;
      right: 0;
      left: 0;
      padding: 4px 13px 16px;
      background: $color-white;
      box-shadow: 0 0 5px -2px rgba(43, 43, 43, .2);

      transition: $base-transition-speed;
    }
  }

  // Wide Post Card (The Right List)
  .post-card--featured--wide {
    display: flex;
    align-items: center;

    .post-card__head {
      float: left;
      margin-right: 8px;
    }
    .post-card__image {
      width: 160px;
      height: 90px;
    }

    .post-card__info {
      position: static;
      padding: 5px 20px 5px 5px;
    }
  }

  .post-card-wrap--featured--wide {
    .post-card--featured--wide {
      overflow: hidden;
      position: relative;
      margin-bottom: 9px;
      padding-bottom: 9px;
      border-bottom: 1px solid #b7b7b7;

      .post-card__tag a {
        top: auto;
        bottom: 9px;
        left: 0;
      }
    }

    &:last-child {
      .post-card--featured--wide {
        border-bottom: 0;
        margin-bottom: 0;
        padding-bottom: 0;

        .post-card__tag a {
          bottom: 0;
        }
      }
    }
  }
}

// Make post cards the same height

.post-list {
  display: flex;
  display: -webkit-flex;

  flex-wrap: wrap;
  -webkit-flex-wrap: wrap;

  .post-card-wrap {
    display: flex;
    display: -webkit-flex;
  }

  .post-card { width: 100%; }
}