//---------------------------
// Share icons
//---------------------------

.share {
  padding: 0;
  list-style: none;
  border-bottom: 1px solid $border-color;
  margin-top: $line-height__medium;
  margin-bottom: $line-height__medium;
  padding-bottom: $line-height__medium;

  &__item {
    display: inline-block;
    margin-right: 6px;

    &:last-child { border-right: 0; }
  }

  &__link {
    display: block;
    text-decoration: none;
  }

  &__icon { color: $color-brand; }
}