//---------------------------
// Base
//---------------------------

*,
*:before,
*:after { box-sizing: border-box; }

.wrapper {
  padding: $line-height__medium 0;

  @media #{$large-up} {
    padding: $line-height__base 0;
    margin-top: double($line-height__base);
  }

  &--entry {
    padding: 0;

    @media #{$large-up} {
      margin-top: $line-height__small;
    }
  }
}

// Make the footer stick to the bottom if content is small

.off-canvas-container {
  display: flex;
  min-height: 100vh;
  flex-direction: column;

  .wrapper { flex: 1 0 auto; }
}