//---------------------------
// Fonts
//---------------------------

@font-face {
  font-family: 'Montserrat-Light';
  src: url('/assets/fonts/montserrat/Montserrat-Light.otf');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Montserrat-Regular';
  src: url('/assets/fonts/montserrat/Montserrat-Regular.otf');
  font-weight: 400;
  font-style: normal;
}