//---------------------------
// Typography
//---------------------------

// 1.
// Fix for iOS to enable click event
// Mainly used to enable click event to hide the tags dropwon menu whcn click outside the menu
// http://stackoverflow.com/a/17490775/558777

body {
  color: $color-text;
  font-size: $font-size__base;
  font-weight: $font-weight__regular;
  font-family: $font-base--regular;
  line-height: $line-height__base;
  background-color: $color-white;

  -webkit-font-smoothing: antialiased;
   -moz-osx-font-smoothing: grayscale;

  @media #{$large-down} {
    .has-touch & {
      cursor: pointer; // 1
    }
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $font-base--regular;
  font-size: $font-size__base;
  font-weight: $font-weight__regular;
  margin: 0 0 $line-height__medium;

  @media #{$medium-down} {
    font-size: $font-size__medium;
  }

  a { text-decoration: none; }
}

.post__content {
  h1 { font-size: 32px; }
  h2 { font-size: 28px; }
  h3 { font-size: 26px; }
  h4 { font-size: 22px; }
  h5 { font-size: 19px; }

  p,
  ul,
  ol {
    font-size: $font-size__medium;

    @media #{$large-up} {
      font-size: $font-size__base;
    }
  }

  li {
    margin: 0 0 half($line-height__medium);
  }
}

p {
  &.font-medium {
    margin: 0 0 $line-height__medium;
  }

  &.font-small {
    margin: 0 0 $line-height__small;
  }

  &.font-tiny {
    margin: 0 0 $line-height__tiny;
  }
}

blockquote {
  margin: 0;
  padding: 0 double($line-height__base) 0 double($line-height__base);
  font-style: italic;
  font-weight: $font-weight__bold;

  @media #{$medium-down} {
    padding: 0 double($line-height__small) 0 double($line-height__small);
  }
}

hr {
  border: 0;
  height: 1px;
  background-color: $border-color;
  margin: 0 0 $line-height__base;

  @media #{$medium-down} {
    margin: 0 0 ($line-height__medium);
  }
}

ul,
ol {
  margin: 0 0 $line-height__base;

  ul, ol {
    margin: 0;
  }

  @media #{$medium-down} {
    margin: 0 0 $line-height__medium;
  }
}

a {
  color: $color-text;

  &:hover {
    color: $color-gray;
  }
}