/*------------------------------------*\
  Sections > Content
\*------------------------------------*/

.post__content {
  display: flex;
  align-items: center;
  flex-direction: column;
  hyphens: auto;

  > * + * {
    margin-top: $line-height__medium;
    margin-bottom: 0;
  }

  h1, h2, h3, h4 {
    min-width: 100%;
    margin-top: double($line-height__medium);
  }

  h1 + *,
  h2 + *,
  h3 + *,
  h4 + * {
    margin-top: half($line-height__medium);
  }

  p, pre,
  dl, ol, ul,
  form,
  fieldset,
  h1, h2, h3, h4, h5, h6 {
    min-width: 100%;
  }
}