//---------------------------
// Disqus
//---------------------------

@media #{$large-up} {
  .disqus {
    padding: 0 20px;
  }
}

/* Hide Disqus bottom section */

#disqus_thread {
  position: relative;
  margin-bottom: -60px;

  @media #{$medium-up} {
    margin-bottom: -115px;
  }

  &:after {
    position: absolute;
    bottom: 0;
    content: '';
    display: block;
    height: 67px;
    width: 100%;
    background: $color-white;
  }
}