//---------------------------
// Featured Section
//---------------------------

@media #{$medium-up} {
  .featured-section {
    border-top: 4px solid #00aeef;
    margin-bottom: $line-height__base;
    box-shadow: 0 0px 2px rgba(43, 43, 43, .2);

    &__list {
      padding-top: 24px;
      padding-bottom: 24px;
    }
  }
}