//---------------------------
// Footer
//---------------------------

.footer {
  padding: 15px 0 $line-height__small;
  background-color: $black-bg;

  a {
    color: $color-brand;
    text-decoration: none;
    transition: $base-transition-speed;

    &:hover { color: $color-white; }
  }
}

.footer-icons {
  padding: 0;
  margin-bottom: quarter($line-height__base);

  &__item {
    display: inline-block;
    margin-right: 16px;

    &:last-child { margin-right: 0; }
  }

  &__link {
    text-decoration: none;

    &:hover { text-decoration: none; }
  }

  &__icon {
    color: $color-brand;
    transition: $base-transition-speed;

    &:hover { color: $color-white; }
  }
}

.copyright { color: $color-brand; }