//---------------------------
// Header
//---------------------------

.logo {
  display: block;
  padding: half($line-height__small) 0;
  margin-bottom: 0;
  line-height: $line-height__base;

  @media #{$medium-down} { line-height: $line-height__medium; }

  a {
    transition: $base-transition-speed;
    text-decoration: none;
    letter-spacing: 1px;
    color: $color-white;

    &:hover { color: $color-brand; }
  }

  &__img {
    width: 159px;
    height: 30px;
  }
}

.site-header {
  position: relative;
  line-height: $line-height__medium;
  background-color: $black-bg;

  @media #{$large-up} {
    position: fixed;
    z-index: 100;
    width: 100%;
  }
}