//---------------------------
// Off Canvas
//---------------------------

.off-canvas-toggle {
  display: none;

  &__icon {
    color: $color-white;
  }

  @media #{$medium-down} {
    display: block;
    position: absolute;
    top: 50%;
    right: $line-height__medium;
    transform: translateY(-50%);
    cursor: pointer;
  }
}

@media #{$medium-down} {

  // prevent horizontal scroll during off-canvas
  html,
  body {
    overflow-x: hidden;
  }

  .off-canvas-content {
    position: fixed;
    top: 0;
    right: 0;
    width: $off-canvas-width;
    height: 100%;
    padding-top: quarter($line-height__base);
    background-color: $black-bg;
    transform: translate3d(0, 0, 0) translateX($off-canvas-width);
    transition: all $base-transition-speed cubic-bezier(.16, .63, .45, .98) 0s;
  }

  .off-canvas-container {
    transform: translate3d(0, 0, 0) translateX(0);
    transition: all $base-transition-speed cubic-bezier(.16, .63, .45, .98) 0s;

    &--is-active {
      position: relative;
      left: double($line-height__base);
      transform: translate3d(0, 0, 0) translateX(- $off-canvas-width);
    }
  }
}