//---------------------------
// Post Page
//---------------------------

.post {
  margin-bottom: $line-height__base;
  position: relative;
  top: - $line-height__base;
  margin-bottom: - half($line-height__base);

  @media #{$medium-up} {
    top: - double($line-height__base);
  }

  @media #{$large-up} {
    top: - quadruple($line-height__tiny);
  }

  &__cover {
    background-size: cover;
    background-position: top;
    background-repeat: no-repeat;
    background-color: $grey-bg--darker;

    &:before {
      content: '';
      display: block;
      width: 100%;
      padding-bottom: 45.5%;
    }
  }

  &__header {
    position: relative;
    padding: 16px;
    margin-bottom: 16px;
    background-color: white;
    box-shadow: 0 1px 2px rgba(43, 43, 43, .2);

    @media #{$medium-up} {
      padding: 22px 21px;
      margin-bottom: 26px;
    }
  }

  &__tags-wrap {
    text-align: center;

    @media #{$medium-up} {
      position: relative;
      z-index: 1;
      top: half($line-height__medium);
    }
  }

  &__tags {
    padding: 0 half($line-height__medium);
    text-align: center;
    line-height: $line-height__medium;
    font-size: $font-size__tiny;
    color: $color-brand;
    background-color: $black-bg;

    @media #{$medium-up} {
      display: inline-block;
      margin: 0 21px;
    }

    a {
      display: inline-block;
      text-decoration: none;
      color: $color-brand;
      line-height: 24px;

      &:before {
        content: '';
        height: 9px;
        display: inline-block;
        width: 1px;
        margin-left: 3px;
        margin-right: 5px;
        background-color: $color-brand;
      }

      &:first-child:before { display: none; }

      &:hover { color: $color-white; }
    }

    a[href*='/diy'] { display: none; }
    a[href*='/general'] { display: none; }
    a[href*='/expert'] { display: none; }
  }

  &__meta {
    font-size: $font-size__teeny;
    line-height: 22px;
    color: #515151;

    @media #{$medium-up} { font-size: $font-size__tiny; }

    @media #{$large-up} { font-size: $font-size__small; }

    a {
      color: #515151;
      text-decoration: none;
    }
  }

  &__date { float: left; }

  &__read-time {
    display: inline-block;
    padding-left: 8px;

    &:before {
      content: '';
      height: 9px;
      display: inline-block;
      width: 1px;
      margin-right: 5px;
      background-color: #515151;
    }
  }

  &__tag--special {
    float: left;
    padding-left: 8px;

    a {
      display: none;

      &:hover { color: $color-gray; }

      &:before {
        content: '';
        height: 9px;
        display: inline-block;
        width: 1px;
        margin-right: 8px;
        background-color: #515151;
      }
    }

    a[href*='/diy'] { display: block; }
    a[href*='/general'] { display: block; }
    a[href*='/expert'] { display: block; }
  }

  &__title {
    margin: 0;
    line-height: 1.6;
    font-size: 20px;

    @media #{$large-up} { font-size: 24px; }
  }
}