//---------------------------
// Navigation
//---------------------------

.nav {
  &__link {
    display: inline-block;
    padding: quarter($line-height__base) 0;
    line-height: 1.8;
    color: $color-white;
    text-transform: uppercase;
    text-decoration: none;
    font-size: $font-size__tiny;

    @media #{$medium-up} {
      padding: half($line-height__base) 0;
      margin-left: half($line-height__base);

      &:first-child { margin-left: 0; }
    }

    @media #{$medium-down} { width: 100%; }

    &--special-tag {
      display: none;

      &[href*='/diy'] { display: inline-block; }
      &[href*='/general'] { display: inline-block; }
      &[href*='/expert'] { display: inline-block; }
    }

    // Link in dropdown menu
    &--dropdown {
      display: block;
      white-space: pre;
      margin: 0;
      padding: 0;
      line-height: 24px;

      &[href*='/diy'] { display: none; }
      &[href*='/general'] { display: none; }
      &[href*='/expert'] { display: none; }
    }

    // Link as a dropdown menu
    &--has-dropdown {
      @media #{$medium-up} {
        position: relative;

        &:after {
          position: absolute;
          right: -8px;
          top: 50%;
          transform: translate(50%, -50%);
          content: '|';
          color: $color-white;
        }

        .no-touch &:hover {
          .nav__dropdown { display: block; }
        }
      }
    }

    &:hover { color: $color-brand; }

    &--current {
      color: $color-brand;

      &:hover { color: $color-white; }
    }
  }

  &__dropdown {
    padding: 0 20px;

    @media #{$medium-up} {
      display: none;
      position: absolute;
      top: 100%;
      z-index: 10;
      text-align: left;
      background-color: #232323;
      border-top: 3px solid $color-brand;
      padding: 10px 15px;
    }

    &--is-active { display: block; }
  }

  @media #{$medium-up} { text-align: right; }
}