//---------------------------
// Pagination
//---------------------------

// Next & Previous Posts

.pagination {
  text-align: center;
  padding-top: $line-height__base;
  border-top: 1px solid $border-color;
  font-size: $font-size__tiny;
  line-height: $line-height__medium;

  &__link {
    display: inline-block;
    font-size: 12px;
    line-height: 18px;
    color: $color-brand;
    text-decoration: none;
    text-transform: uppercase;
  }
}

// Numbered Pagination

.numbered-pagination {
  margin: 0 16px;
  padding: 0;
  display: inline;
  list-style: none;

  &__item {
    margin: 0 4px;
    display: inline-block;
    font-size: 12px;
  }

  &__link {
    color: $color-brand;
    text-decoration: none;
  }
}

// Next & previous posts in single post page

.post-pagination {
  position: relative;
  float: left;
  width: 100%;
  padding: 14px 0;
  margin-bottom: 28px;
  border-top: 1px solid $border-color;
  border-bottom: 1px solid $border-color;

  &__link {
    display: block;
    font-size: 12px;
    line-height: 18px;
    color: $color-brand;
    text-decoration: none;
    text-transform: uppercase;

    &--previous { float: left; }
    &--next { float: right; }
  }

  &__icon {
    position: relative;
    top: -1px;
   }
}